/*
 * -------------------------------------------------------------
 *  Nextflow nf-core config file for the University of Colorado
 *  Research Computing alpine HPC cluster
 * -------------------------------------------------------------
 * Defines SLURM process executor and singularity settings.
 *
 */
params {
  config_profile_description = 'CURC alpine cluster profile'
  config_profile_contact = 'Thomas Danhorn'
}

singularity {
  enabled = true
  cacheDir  = '/projects/$USER/container_cache'
  autoMounts = true
  // /tmp is often too small -> redirect to scratch:
  runOptions = "-B /scratch/alpine/$USER:/tmp"
}

process{
  executor = 'slurm'
  queue = 'acpu'
  errorStrategy = { task.attempt <= 3 ? "retry" : "finish" }
  process.maxRetries = 3
  clusterOptions = '--account=amc-general --qos=cpu-normal' 
  withLabel:process_long {
    clusterOptions = '--qos=cpu-normal'
    max_time = 24.h
  }
}

executor{
  name = 'slurm'
  queueSize = 200
  perJobMemLimit = true
  submitRateLimit = '30 / 1 min'
  killBatchSize = 50
}

params {
  max_memory = 240.GB
  max_cpus = 48
  max_time = 24.h
}

env {
  SINGULARITY_TMPDIR = "/scratch/alpine/$USER/singularity/tmp"
  SINGULARITY_CACHEDIR = "/scratch/alpine/$USER/singularity/cache"
}
